<button type="button" class="btn" (click)="goBack()">戻る</button>

<h2>役者編集</h2>


<div *ngIf="actor">
  <form #formCheck="ngForm" class="justify-content-start">
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
      <div *ngIf="lastName.errors.required">
        「名前（姓）」を入力してください。
      </div>
    </div>
    <div class="form-group form-row">
      <label class="col-sm-4 col-form-label">名前（姓）</label>
      <div class="col-sm-8">
        <input class="form-control" name="actor-last-name" [(ngModel)]="actor.lastName" #lastName="ngModel" required>
      </div>
    </div>
    <div class="form-group form-row">
      <label class="col-sm-4 col-form-label">名前（名）</label>
      <div class="col-sm-8">
        <input class="form-control" name="actor-first-name" [(ngModel)]="actor.firstName" required>
      </div>
    </div>
    <div class="form-group form-row">
      <label class="col-sm-4 col-form-label">年齢</label>
      <div class="col-sm-8">
        <input type="number" class="form-control" name="actor-age" [(ngModel)]="actor.age" required max="100" min="0">
      </div>
    </div>
    <div class="form-group form-row">
      <label class="col-sm-4 col-form-label">お気に入り</label>
      <div class="col-sm-8">
        <!-- <ngb-rating [(rate)]="actor.rating"></ngb-rating> -->
        <app-rating [(rating)]="actor.rating" [readonly]="false"></app-rating>
        <!-- <input class="form-control" name="actor-rating" [(ngModel)]="actor.rating"> -->
      </div>
    </div>
    <div class="mx-auto text-center">
      <button class="btn" (click)="execute($event)" [disabled]="formCheck.invalid">{{executionName}}</button>
      <!-- <button class="btn" (click)="execute($event)">{{executionName}}</button> -->
    </div>
  </form>
</div>