<h2>予定編集</h2>

<button type="button" class="btn" (click)="goBack()">戻る</button>
<div *ngIf="schedule">
  <form class="justify-content-start">
    <div class="form-group form-row">
      <label class="col-sm-4 col-form-label">日付</label>
      <div class="col-auto">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="schedule-name" [(ngModel)]="schedule.date" ngbDatepicker #d="ngbDatepicker"
            (click)="d.toggle()">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-row">
      <label class="col-sm-4 col-form-label">会場</label>
      <div class="col-sm-8 input-group">
        <input class="form-control" name="theater-name" [(ngModel)]="schedule.theater.name" readonly>
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" (click)="openTheaterList(contentTheaterList)" type="button">選択</button>
        </div>
      </div>
    </div>
    <div class="form-group form-row">
      <label class="col-sm-4 col-form-label">役者</label>
      <div class="col-sm-8 input-group">
        <input class="form-control" name="actor-lastname" [(ngModel)]="schedule.actor.lastName" readonly>
        <input class="form-control" name="actor-firstname" [(ngModel)]="schedule.actor.firstName" readonly>
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" (click)="openActorList(contentActorList)" type="button">選択</button>
        </div>
      </div>
    </div>
  </form>
  <div class="mx-auto text-center">
    <button class="btn" (click)="execute()">{{executionName}}</button>
  </div>
</div>

<ng-template #contentTheaterList let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">会場一覧</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="list-group">
        <div *ngFor="let theater of theaterList">
          <button type="button" class="list-group-item list-group-item-action" (click)="modal.close(theater._id)">{{theater.name}}</button>
          <!-- <input type="hidden" #theaterId value={{theater._id}}> -->
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentActorList let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">役者一覧</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="list-group">
        <div *ngFor="let actor of actorList">
          <button type="button" class="list-group-item list-group-item-action" (click)="modal.close(actor._id)">{{actor.lastName}}　{{actor.firstName}} </button>
          <!-- <input type="hidden" #actorId value={{actor._id}}> -->
        </div>
      </div>
    </form>
  </div>
</ng-template>